<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p></p>
      <p>My Name is Aaron Ainsworth</p>
      <img></img>
      <p>I am 20 years old and attending Centennial college for Software Engineering Technology.</p>
      <p>I am not a very outgoing person and like to keep to myself sometimes but I learned to overcome</p>
      <p>that and have learned to be more involved. I have and still continue to train service dogs with</p>
      <p>what I have learned from the COPE Service dogs program that was offered at my school. </p>
        <p>I am in my third year of computer programming and have learned many programming lanugages such as:</p>
        <ul>
          <li>HTML</li>
          <li>NodeJs</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>ExpressJs</li>
        </ul>
        
        
        <p></p>
        <img src="/images/photo.jpg" alt="INSERT A PHOTO OF ME HERE">

        <p>Here is a link to my Resume</p>
        <a href=pdfs/resume.pdf>RESUME</a>
    </div>
  </div>

<% include partials/footer.ejs %>