<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to the <%= title %>,</p>
      <p><a href=/about>About me</a></p>
      <p><a href=/projects>Projects</a></p>
      <p><a href=/services>Services</a></p>
      <p><a href=/contact>Contact me</a></p>
     
    </div>
  </div>

<% include partials/footer.ejs %>
