<% include partials/header.ejs %>
<div class="container">
  <div class="jumbotron">
    <h1><%= title %></h1>
    <p>Welcome to The <%= title %>, Page </p>
    <p></p>
    <h1>This lists the projects I have done over the years</h1>
    <br>

   
    
    <h2>This Is an animation I made</h2>
    <video controls>Your browser does not support the &lt;video&gt; tag.
      <source src="/images/video.mp4"/>
    </video>
    <p>This was made using Blender 3D and models from mixomo, It was a side project to help me develop the animation skills for my modpack  listed above.</p>
  
    <br>
    
    <h2 id="ravenscript">Ravenfield Mod Pack</h2>
    <video controls>Your browser does not support the &lt;video&gt; tag.
      <source src="/images/ravenfield.mp4"/>
    </video>
        <p>This was made using RavenScript (Lua Language) and Unity, I developed the models and scripts to be able to use this modpack in game.</p>
    
    <br>
    
    <h2>This Is an Database I had to access for Comp214</h2>
    <img src="/images/database.jpg"/>
    </video>
    <p>This Is an Database I had to access for Comp214. This allowed me to do my schoolwork without being on campus.</p>
  </div>
</div>
<% include partials/footer.ejs %>