<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p></p>
      <p>Services I Offer</p>
      <li>Ravenfield Mod Packs</li>
      <a href="projects/#ravenscript"> Ravenscript Code</a>
      <li>Code Debugging</li>
      <li>Website Building / Maintenance</li>
      <li>Python Scripts</li>
      <li>Batch/CMD Programs</li>
      <li>Lua programming</li>
      <li>Dog Training</li>
    </div>
  </div>

<% include partials/footer.ejs %>