/* 
style.css
Aaron Ainsworth
301160852
2023-05-28
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}